/*TODO: Add prefix-classes if needed. */

.sleepTypes-cover {
    background-image: linear-gradient(to bottom, #e66c6c, #f76988, #ff6aa9, #ff72d0, #f780f9);
    height: 100vh;
}

.panes {
    height: 70vh;
    width: 70vw;
    background-color: black;
    display: flex;
}

.pane {
    width: 33.33%;
}

.vertical-align-content {
    display: grid;
    margin: auto;
}

.sleep-types-title {
    font-size: 48px;
    text-align: center;
}

.sleep-types-message {
    font-size: 18px;
}
